asn1crypto==0.24.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cryptography==2.6.1
distro-info==0.21
entrypoints==0.3
Flask==2.1.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==2.1.1
numpy==1.16.2
pycrypto==2.6.1
PyGObject==3.30.4
PyJWT==2.3.0
python-apt==1.8.4.3
python-dotenv==0.20.0
pytz==2022.1
pyxdg==0.25
requests==2.27.1
SecretStorage==2.3.1
six==1.12.0
twilio==7.8.0
typing-extensions==4.1.1
unattended-upgrades==0.1
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.7.0
